@import "tailwindcss";

@theme {
    --color-primary: #00897B;
    --color-dark: #111111;

    --font-default: "Barlow", sans-serif;
    --font-heading: "Rubik", sans-serif;
}

body{
    font-family: var(--font-default);
    user-select: none;
    background-color: #FFF;
}